<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- Dependent Object -->
	<bean id="courier" class="in.ineuron.comp.DTDC"/>
	<bean id="bDart" class="in.ineuron.comp.BlueDart" primary="true"/>
	<bean id="fFlight" class="in.ineuron.comp.FirstFlight"/>
	
	<!-- Target Object -->
	<bean id="fpkt" class="in.ineuron.comp.Flipkart" autowire="constructor">
		<constructor-arg name="discount" value="10"/>
	</bean>
</beans>
